<!-- start header -->
<header>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <ul class="topmenu">
                        <li><a href="#">Home</a> &#47;</li>
                        <li><a href="#">Terms</a> &#47;</li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="span6">

                    <ul class="social-network">
                        <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                        <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                        <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                        <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                        <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="container">


        <div class="row nomargin">
            <div class="span4">
                <div class="logo">
                    <h1><a href="index.html"><i class="icon-tint"></i>{{ 'header.Remember' | translate }} </a></h1>
                </div>
            </div>
            <div class="span8">
                <div class="navbar navbar-static-top">
                    <div class="navigation">
                        <nav>
                            <ul class="nav topnav">
                                <li class="active">
                                    <a [routerLink]="['/home']"> {{ 'header.Home' | translate }}</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/services','Services']">{{ 'header.Services' | translate }}</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/services','Packs']">{{ 'header.Packs' | translate }}</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/services','Team']">{{ 'header.Team' | translate }}</a>
                                </li>


                                <li>
                                    <a [routerLink]="['/contact']">{{ 'header.Contact' | translate }} </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">{{ 'header.Language' | translate }} <i class="icon-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <!-- <li *ngFor="let lang of translate.getLangs()"><button (click)="cambiar(lang)">{{lang}}</button></li> -->
                                        <li *ngFor="let lang of translate.getLangs()">
                                            <a (click)="cambiar(lang)" class="btn btn-inverse">{{ lang}}</a>
                                        </li>

                                    </ul>
                                </li>
                                <!-- <li>
                                    <label>
                                    {{ 'HOME.SELECT' | translate }}
                                    <select #langSelect (change)="translate.use(langSelect.value)">
                                      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                                    </select>
                                  </label>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                    <!-- end navigation -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->