<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="clearfix"></div>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="grid cs-style-3 portfolio">
                            <li class="item-thumbs span6 design" data-id="id-0" data-type="web" *ngFor="let serv of listaServes">
                                <div>
                                    <div class="pricing-box-plain">
                                        <div class="heading">
                                            <h4>{{serv.titulo}}</h4>
                                            <span>{{serv.firma}}</span>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                {{serv.descripcion}}
                                            </p>
                                        </div>
                                        <div class="action">
                                            <a [routerLink]="['/service',serv.id]" class="btn btn-inverse">ver más</a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="item">
                                    <figure>
                                        <div><img [src]="serv.imagen[0]" alt=""></div>
                                        <figcaption>
                                            <h3>{{serv.titulo}}</h3>
                                            <p>
                                                <a [href]="serv.imagen[0]" data-pretty="prettyPhoto[gallery1]" [title]="serv.titulo"><i class="icon-zoom-in icon-circled icon-bglight icon-2x active"></i></a>
                                                <a [routerLink]="['/service',serv.id]"><i class="icon-file icon-circled icon-bglight icon-2x active"></i></a>
                                            </p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <h2 style="text-align: center">And much more {{clasificacion}}...</h2>
    </div>
</section>
<section id="content">
    <div class="container">


        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="icon">
                                <span class="badge badge-info badge-circled">1</span>
                                <i class="ico icon-dropbox icon-5x"></i>
                            </div>
                            <div class="text">
                                <h4><strong>Out of the box</strong></h4>
                                <p>
                                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am anumat lib persum sea facilisis.
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="icon">
                                <span class="badge badge-success badge-circled">2</span>
                                <i class="ico icon-bitbucket icon-5x"></i>
                            </div>
                            <div class="text">
                                <h4><strong>New taste</strong></h4>
                                <p>
                                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="icon">
                                <span class="badge badge-warning badge-circled">3</span>
                                <i class="ico icon-rocket icon-5x"></i>
                            </div>
                            <div class="text">
                                <h4><strong>Faster load</strong></h4>
                                <p>
                                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="icon">
                                <span class="badge badge-important badge-circled">4</span>
                                <i class="ico icon-cut icon-5x"></i>
                            </div>
                            <div class="text">
                                <h4><strong>Cut your times</strong></h4>
                                <p>
                                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>