<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2 class="errortitle aligncenter">404</h2>
                <h3 class="aligncenter"><i class="icon-remove"></i> Sorry requested page not found</h3>
                <p class="aligncenter">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
            </div>

        </div>

    </div>
</section>