<div class="container">
    <div class="row">

        <div class="span4">
            <div class="widget">
                <h5 class="widgetheading">{{ 'footer.titulo1' | translate }}</h5>
                <ul class="link-list">
                    <li *ngFor="let pagina of paginas"><a href="#">{{ pagina | translate }}</a></li>

                </ul>

            </div>
        </div>
        <div class="span4">
            <div class="widget">
                <h5 class="widgetheading">{{ 'footer.titulo2' | translate }}</h5>
                <ul class="link-list">
                    <li *ngFor="let other of otherservices"><a href="#">{{ other | translate }}</a></li>

                </ul>

            </div>
        </div>
        <div class="span4">
            <div class="widget">
                <h5 class="widgetheading">{{ 'footer.titulo3' | translate }}</h5>
                <ul class="link-list">

                    <li *ngFor="let telefono of contact.telfonos"><span style="display: inline-block;
                       
                        color: #111;
                        font-size: 32px;
                         " class="font-icon-phone-sign"> {{ telefono }}</span>
                    </li>

                </ul>

            </div>
        </div>
        <!-- <div class="span4">
            <div class="widget">
                <h5 class="widgetheading"><a [routerLink]="['contact']">{{ 'footer.titulo3' | translate }}</a></h5>
                <div class="span2">
                    <img [src]="contact.imagen">
                    <br>
                    <p> <i class="icon-envelope-alt"></i> {{contact.email}}</p>
                </div>
                <div>
                    <p *ngFor="let telefono of contact.telfonos">
                        <i class="icon-phone"></i> {{telefono}} <br>
                    </p>
                </div>

            </div>
        </div> -->

    </div>
</div>
<div id="sub-footer">